:root{
    --sari-reng: #fdc632;
    --tund-goy: #002347;
    --boz:#7b838a;
    --background: #f9f9ff
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.logo img{
    width: 163px;
}
.header{
    width: 100%;
 
}
.navbar{
    height: 70px;
    margin: 0 auto;
    width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-links>ul{
    display: flex;
    gap: 40px;
   
  

}
/* dropdown */
.hover-dropdown {
    position: relative;
    padding-bottom: 20px;
  }
  .dropdown a {
    display: inline-block;
  }
  .dropdown {
    width: max-content;
    max-width: 350px;

    position: absolute;
    background-color: #fff;
    left: 0;
    top: calc(100% + 40px);
    opacity: 0;
    visibility: hidden;
  }
  .dropdown a {
    padding: 10px 20px;
  }
  .hover-dropdown ul li a {
    color: #000;
  }
  
  .hover-dropdown ul li:hover {
    background-color: var(--sari);
    transition: 0.9s ease;
  }
  .hover-dropdown ul li:hover a{
      color: #fff;
      transition: 0.9s ease;
  }
  
  .hover-dropdown:hover .dropdown {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
.nav-links ul li a {
    color: var(--tund-goy);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}
.nav-links ul li a:hover{
    color: var(--sari-reng);
}
.nav-links ul:first-of-type li:nth-of-type(1) a{
   color: var(--sari-reng);
}
.nav-links ul li:nth-of-type(6) a{
    margin-left: 50px;
}
.introsection{
    background-image: url(https://preview.colorlib.com/theme/edustage/img/banner/home-banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -70px;
}
.intro-text{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
   
}
.intro-text p{
  font-size: 20px;
  color: var(--tund-goy);
  margin-bottom: 16px;
}
.intro-text h1{
    color: var(--tund-goy);
    font-size: 48px;
    margin-bottom: 48px;
}
.intro-btn{
    display: flex;

}

.intro-btn a{
    padding:0 48px;
  
    border-radius: 7px;
    font-size: 13px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}
.intro-btn a:nth-of-type(1){
    background-color: var(--tund-goy);
    color: var(--sari-reng);
    border: 1px solid var(--tund-goy);
}
.intro-btn a:nth-of-type(1):hover{
    background-color: #fff;
    color: var(--tund-goy);
    transition: .7s ease;
    border: 1px solid #000;
   
}
.intro-btn a:nth-of-type(2){
    background-color: var(--sari-reng);
    color: var(--tund-goy);
}
.intro-btn a:nth-of-type(2):hover{
   background-color: var(--tund-goy);
   color: var(--sari-reng);
    transition: .7s ease;
}
.intro-btn{
    justify-content: center;
    gap: 20px;
}
.card img{
    width: 48px;
    height: 48px;
}
.feature-section{
    padding: 130px 0;
    width: 100%;
}
.feature-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding: 130px 0 ;
}

.card{
    width: 31%;
    background-color: #f9f9ff;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 35 71 / 10%);
}
.feature-text{
    text-align: center;
    
    margin: 0 auto;
}
.feature-text h2{
    font-size: 36px;
    margin-bottom: 16px;
    color: var(--tund-goy);
}
.feature-text p{
    font-size: 16px;
    color: var(--boz);
    font-style: italic;
}
.card:hover{
    transition: .7s ease;
    box-shadow: 0px 10px 30px 0px rgb(0 35 71 / 20%);
}
.card h4{
    margin: 16px 0 8px;
    font-size: 20px;
}
.card p{
    line-height: 25px;
    font-size: 16px;
    color: var(--boz);
}
/* ------------------ */
.courses-section{
    width: 100%;
}
.design-cards{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.design{
    width: 31%;
   background-color: var(--background);
   overflow: hidden;
}
.dollar{
    position: absolute;
    right: 0;
    top: -30px;
    padding: 20px 18px;
    background-color: var(--sari-reng);
    border-radius: 50%;
    font-size: 20px;
    color: var(--tund-goy);
    font-weight: 700;
}
.design-text button{
    width: 87px;
    height: 29px;
    font-size: 13px;
    background-color: var(--tund-goy);
    color: #fff;
    margin-bottom: 24px;
}
.design-text{
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.design-text>a{
    font-size: 20px;
    font-weight: 600;
    color: var(--tund-goy);
    padding-bottom: 16px;
}
.design-text p{
    color: var(--boz);
    line-height: 25px;
    font-weight: 400;
}
.about{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about-img{
    gap: 10px;
    font-size: 500;
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 300;
    
}
.icon a{
    color: #000;
}
.icon i{
    color: #000;
    margin-right: 5px;
}
.design-img{
    height: 275px;
    overflow: hidden;
}
.design-img img{
   
    transform: scale(1);
}
.design:hover .design-img img{
    transform: scale(1.2);
    transition: .7s ease;
}
.design:hover{
    box-shadow: 0px 10px 30px 0px rgb(0 35 71 / 10%);
}
.design:hover .dollar{
    background-color:var(--tund-goy);
    color:var(--sari-reng);
    transition: .7s ease;
}
.design:hover .design-text>a{
    color: var(--sari-reng);
    transition: .7s ease;
}
.register-section{
    padding: 130px 0;
    background-color: var(--tund-goy);
  width: 100%;
}
.register{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.register-left{
    color: #fff;
   flex-basis: 60%;
}
.register-right{
    flex: 1;
    margin-left: 95px;
}
.register-text h1{
    font-size: 42px;
    margin-bottom: 16px;
}
.register-text p{
    margin-bottom: 1rem;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}
.date{
    display: flex;
}
.date .year{
    padding: 35px 30px;
    margin: 65px 15px 0 0;
    background: #334f6c;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.year{
    align-items: center;
    display: flex;
}
.year h1{
    font-size: 35px;
   margin-right: 8px;
}

.contact{
    padding: 40px;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
}
.contact form input{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid #eeeeee;
    font-weight: 600;
    
}
.contact h3{
    font-size: 24px;
    color: var(--tund-goy);
    margin-bottom: 8px;
}
.contact p{
    color: var(--boz);
    margin-bottom: 16px;
}
.contact form button{
    width: 100%;
    margin-top: 35px;
    background-color: var(--sari-reng);
    border: none;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 600;
    transition: .7s ease;
    text-transform: uppercase;
}
.contact form button:hover{

    background-color: var(--tund-goy);
    color: var(--sari-reng);
}
.contact h3,.contact p{
    text-align: center;
}
/* -------------- */
.expert-section{
    padding: 130px 0;
    width: 100%;
}
.our-expert{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    
}
.expert{
    width: 23%;
    text-align: center;
    box-shadow: 0px 10px 30px rgb(0 35 71 / 10%);
}
.expert:hover{
    transition: .7s ease;
    box-shadow: 0px 10px 30px 0px rgb(0 35 71 / 20%);
}
.expert h4{
    font-size: 20px;
    color: var(--tund-goy);
}
.expert p{
    color: var(--boz);
    line-height: 25px;
}
.expert p:nth-of-type(1){
    font-size: 14px;
    margin-bottom: 30px;
}
.expert p:nth-of-type(2){
    font-size: 16px;
    margin-bottom: 20px;
}
.expert-text{
    padding: 20px 25px;
}
.social{
    display: flex;
    justify-content: space-evenly;
    color:#d4d4d4;  
}
.events{
    width: 100%;
    padding: 130px 0;
    background-color: var(--tund-goy);
}
.events-text h2{
    color: #fff;
}
.events-cards{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 130px 0 0;
}
.ev-card{
    width: 49%;
}
.ev-card {
    position: relative;
    overflow: hidden;
    width: 555px;
    height: 400px;
}
.ev-card img{
    transform: scale(1);
    transition: .6s ease;
}
.ev-card:hover img{
    transform: scale(1.2);
}
.ev-card .transparent{
    background: rgba(0, 35, 71, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 275px;
    padding: 30px 25px;
    color: #ffffff;
}
.div{
    display: flex;
}
.right{
    color: #fff;
    padding-left:15px;
    
}
.right h3{
    font-weight: 500; 
    font-size: 15px;
}
.right h3:nth-of-type(2){
    padding:10px 0 0 2px;
}
.left{
    padding-right: 15px;
    border-right: 2px solid #fff;
}

.left h1{
    color: var(--sari-reng);
    font-size: 28px;
}
.left span{
    color: #fff;
}
.transparent p{
    margin: 15px 0;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.transparent a{
    display: inline-block;
    margin-top: 16px;
    padding:15px 48px ;
    background-color:var(--sari-reng);
    color: var(--tund-goy);
    text-transform: uppercase;
    transition: .6s ease;
    font-size: 13px;
    font-weight: 600;
}
.transparent a:hover{
    background-color: var(--tund-goy);
    color: var(--sari-reng);
}
/* ------------ */
.client-section{
    padding: 130px 0;
    width: 100%;
}
.clients{
    padding-top: 130px;
   width: 75%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.client-card{
    display: flex;
    width: 48%;
    padding: 50px 55px;
    box-shadow: 0px 10px 30px rgb(0 35 71 / 8%);
    transition: .6s ease;
}
.client-card:hover{
    box-shadow: 0px 10px 30px rgb(0 35 71 / 20%);
}
.client-img{
    padding: 0 15px;
}
.client-text{
    padding: 0 15px;
}
.client-text h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--tund-goy);
}
.client-text p{
    color: var(--boz);
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
}
/* --------- */
.footer-section{
    width: 100%;
    background-color: var(--tund-goy);
    padding: 130px 0;
}
.footer{
    width: 75%;
    margin: 0 auto;
}
.footer-top{
    display: flex;
}
.product{
  width: 16.6%;
}
.newsletter{
    width: 33.3%;
}
.product a{
    color: #7b838a;
    padding: 15px 0;
}
.product a:hover{
    color: #fff;
    transition: .4s ease;
}
.footer h4{
    margin-bottom: 35px;
    color: #fff;
    font-size: 18px;
}
.product ul li{
    margin-bottom: 15px;
}
.newsletter p{
    color: #7b838a;
    margin-bottom: 16px;
}
.newsletter form{
    position: relative;
}
.newsletter form input{
    background-color:#334f6c;
    outline: none;
    border: none;
    padding: 10px 10px 10px 20px;
    width: 75%;
    
}
.newsletter form button{
    padding: 7px 20px;
    background-color: var(--sari-reng);
    color: var(--tund-goy);
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 15%;
    top: 3px;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
}
.footer-bottom{
    padding-top: 100px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom p span{
    color: var(--sari-reng);
}
.brands{
    display: flex;
    
    
}
.brands a{
   display: inline-block;
   text-align: center;
   padding-top: 8px;
   width: 32px;
   height: 32px;
   background: #334f6c;
   color: #fff;
   margin-left: 8px;
}
.brands a:hover{
    color: var(--tund-goy);
    background-color: var(--sari-reng);
    transition: .7s ease;
}